@charset "UTF-8";
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* { box-sizing : border-box; padding:0;	margin:0; }

/*----배경----*/
#back{font-family:'GangwonEdu_OTFBoldA' ,sans-serif;}
#back{background-color: #EFF7F6;}


/*----로그인 관련----*/
#header {width:100%; text-align:right; padding: 25px;
   		display: flex;  align-items: center; gap: 35px; 
  
   		}
#header a{text-align:center;  color:#003049 ;text-decoration : none; font-size: 30px;}
#header a:hover{ color:#7BDFF2  }

#header a:not(.logo) {
    margin-left: 20px;
}


/*----로고----*/   
.logo {margin-right: auto;}


/*----메인 글자----*/  


#mainread, #mainread2 {
    width: 90%;
    max-width: 600px; 
    margin: 50px auto; 
    text-align: center;
    color :#003049;
}
#mainread { font-size : 60px; }
#mainread2 { font-size : 25px; }


/*----텍스트 입력창 스타일----*/
.search-container{
	  width: 90%; 
      margin:100px auto ; 
      max-width: 600px;
      padding: 0 10px;
}



.search-container form {
    display: flex;
    align-items: center;
    width: 600px; 
    border: 1px solid white;
    border-radius: 50px; 
    overflow: hidden; 
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.search-box {
  height: 60px;
  width: 300px;
  background: white;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid #f9deec;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: #797979;
  font-size: 20px;
  line-height: 30px;
  width: 600px;
  padding-left: 15px;
}


.search-btn {
  color: #f9deec;
  float: right;
  width: 50px;
  height: 100%;
  border-radius: 80%;
  background: white;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}




/*----검색바 밑 메뉴----*/
#menu2{margin-top: 10px; font-size:20px;}
#menu2 td{padding:20px;}

#menu2 a{text-decoration: none;}
#menu2 a:link{color:#003049;}
#menu2 a:visited{color:#003049;}
#menu2 a:hover{color:#7BDFF2;}



/*----푸터----*/

#footer{background-color: #003049; padding:35px; color:#7BDFF2; font-size : 20px;}

html, body {
    height: 100%; 
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
}



#burger-menu {
    display: none;
    cursor: pointer;
}

#burger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: #003049;
    margin: 5px 0;
}

#nav-menu {
    display: flex;
    gap: 35px;
}
/*-------반응형-------*/


/*----헤더----*/
@media (max-width: 576px) { 
	
	
    #mainread {
        font-size: 2.0em; 
    }
    
    #mainread2 {
        font-size: 1.0em;
    }
    
    #menu2 td {
       	font-size: 17px;
    }
   
   
   #header a{font-size: 15px;}
   
    #header a:not(.logo) {
        margin: 0; 
    }
    
	#logoimg {height:30px;}
	
	
	/* --검색창 폼 --*/
   .search-container {
    margin: 0 auto; 
    max-width: 600px; 
    width: 90%; 
    text-align: center;
	}

	.search-container form {
	    display: flex;
	    align-items: center;
	    width: 100%;
	}
	
	.search-box {
	    display: flex;
	    width: 100%;
	}
	
	.search-btn {
	    width: 40px; 
	    height: 100%;
	   
	}
	
	.search-txt {
	    flex-grow: 1; 
	    padding-left: 15px;
	}
	
	
	#footer{font-size :15px;}
	
}


/*--햄버거메뉴--*/
@media (max-width: 768px) {
     #nav-menu {
        visibility: hidden; /* 작은 화면에서 메뉴 숨기기 */
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #f0f0f0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
        
        max-height: 0; 
		opacity: 0; 
		overflow: hidden;
		transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
    }
    
    #nav-menu a {
        font-size: 20px; /* 원하는 폰트 크기로 설정 */
    }
	/* 메뉴가 열렸을 때의 스타일 */
	#nav-menu.active {
	  max-height: 500px; 
	  opacity: 1;
	  visibility: visible;
	  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
	}
	
    #burger-menu {
        display: block; 
    }

    
}
    

