@charset "UTF-8";

* { box-sizing : border-box; padding:0;	margin:0; }

#header { border:1px soild gray; background-color:black; width:100%; }
#header a { text-align:left; vertical-align:middle; color:gray; font-weight:bold; }

#container { margin:0 auto; padding-top: 20px; background-color:white; width:100%; }
#left table { float:left; border-collapse: collapse; width:15%; margin-left:50px; }
#left table tr:nth-of-type(1) { border-bottom:5px solid skyblue; }
#left table tr { height:50px; border-bottom:1px solid skyblue; }



#right table { float:right; border-collapse: collapse; width:70%; margin-right:50px; }
#right table tr:nth-of-type(1) { border-bottom:5px solid skyblue; }
#right table tr:nth-of-type(1) input[type="text"] { width:500px; height:44px; text-align:left; font-size:20px; }
#right table tr:nth-of-type(1) input[type="button"] { width:70px; height:44px; font-size:17px; }
#right table tr { height:50px; border-bottom:1px solid skyblue; }
#right table td:nth-of-type(1) { width:15%; text-align:center; }
#right table td:nth-of-type(2) { width:45%; text-align:left; }
#right table td:nth-of-type(3) { width:15%; text-align:center; }
#right table td:nth-of-type(4) { width:15%; text-align:center; }
