@charset "UTF-8";
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { box-sizing : border-box; padding:0;	margin:0; }
.search-txt {
	width:500px;
    height:50px;
    }
    
.search-btn{width:40px;
    height:50px;}
    

#header { border:1px soild gray;  width:100%; }
#header a { text-align:left; vertical-align:middle; color:gray; font-weight:bold; }

#back{background-color: #EFF7F6;}
#back{font-family:'GangwonEdu_OTFBoldA' , sans-serif; }


#renList {  border-collapse: collapse;}
#renList td {padding:15px; padding-left :70px ;border-bottom : 1px solid black;}


#returnedList { border-collapse: collapse;}
#returnedList td {padding:15px; padding-left:50px; border-bottom : 1px solid black;}



#list{font-size :20px;}
#list{border-collapse:collapse;}
#list td{padding :10px; border-bottom :1px solid black;}
	
	
.returnPaging{display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;    /* 수직 가운데 정렬 */
  height: 10vh;}

.rentalPaging{display:flex; justify-content:center; align-items:center; height:10vh;}

.spa{font-size:25px;}
