@charset "UTF-8";
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { box-sizing : border-box; padding:0;	margin:0; }
.search-txt {
	width:500px;
    height:50px;
    }
    
.search-btn{width:40px;
    height:50px;}
    

#header { border:1px soild gray;  width:100%; }
#header a { text-align:left; vertical-align:middle; color:gray; font-weight:bold; }

#back{background-color: #EFF7F6;}
#back{font-family:'GangwonEdu_OTFBoldA' , sans-serif; }

#rentalList{font-size:17px;}
#renList {  border-collapse: collapse;}
#renList td {padding:10px; border-bottom : 1px solid black;}

#list{font-size :20px;}
#list{border-collapse:collapse;}
#list td{padding :10px; border-bottom :1px solid black;}
	
/* .search-txt {
    padding: 10px; 창의 내부 여백을 늘려 크기 키우기
    font-size: 16px; 글자 크기 키우기
}

검색 버튼 크기 키우기
.search-btn {
    padding: 10px; 버튼의 내부 여백을 늘려 크기 키우기
    font-size: 18px; 돋보기 아이콘 크기 키우기
}
 */

