/* ===== nav ===== */
nav{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 90px;
    object-fit: cover;
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ==== 사이드바 메뉴 ==== */
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

/* === 사이드바 로그아웃 다크모드 스위치 === */
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ===== 대시보드 ===== */
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
/* 사이드바 메뉴 접기 펴기 버튼 */
.dashboard .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard {
    padding-top: 50px;
}

.binder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
/* ==== 검색 바  ==== */

.search-container {
    display: flex; /* 부모 요소에 flex 적용 */
    height: 35px;
    align-items: center; /* 세로 중앙 정렬 */
}

input.search-box {
    display: flex;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 15px 0 15px;
    border-radius: 5px;
    height: 35px;
    max-width: 600px;
    min-width: 300px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    outline: none;
    margin: 0 10px 0 15px;
}
i.search-box {
    display: flex;
    font-size: 22px;
    color: var(--black-light-color);
    cursor: pointer;
}


/* button submit 태그 숨김  */
.hidden-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* === 테이블 위 제목 === */
.title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
    padding: 5px;
    color: var(--text-color);
}
.text {
    padding-left: 10px;
    font-size: 23px;
    
}
/* === 테이블 CSS === */
.activity-table {
    border-collapse: collapse;
    border-spacing: 0;
	white-space: nowrap;
}
.activity-table td, .activity-table th {
    padding: 18px;
}
.activity-table th {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    vertical-align: top;
}
.activity-table td {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    margin: 0 15px;
    color: var(--text-color);
}
.activity-table tbody tr:hover {
    background-color: #EFF7F6;
}
.activity-table .table-data {
    text-align: left;
    vertical-align: top;
}
.switch-icon {
    width: 30px;
    height: 30px;
    font-size: 24px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color) !important;
}
nav .logo-name #logoimgsmall {
    display: none;
}
nav .logo-name #logoimg.small {
    transform: scale(65%);
    transform-origin: center center;
}



/* 대여하기 버튼 */
form .rent-btn {
  background-color: var(--primary-color); /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
form .rent-btn:hover {
  cursor: pointer;
}

/* 화면 크기 400 미만의 경우 등장하는 홈 버튼 */
#house.small-mode {
    display: none;
}
#house {
    display: none;
}
.hidden {
    display: none;
}

/* ===== 푸터 ===== */
footer {
    height: 300px;
}

/* ============== 반응형 ============== */
@media (min-width: 781px) and (max-width: 1500px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity{
        overflow-X: scroll;
    }
    nav .logo-name #logoimgsmall {
        display: block;
        transform: scale(65%);
    }
    nav .logo-name #logoimg {
        display: none;
    }
    #house.small-mode {
        display: none;
    }
    #house {
        opacity: 0;
        display: none;
    }
}

@media (min-width: 561px) and (max-width: 780px) {
    .dashboard{
        width: calc(100% / 2 - 15px);
    }
    nav .logo-name #logoimg {
        display: none;
    }
    
    nav .logo-name #logoimgsmall {
        display: block;
        transform: scale(65%);
    }
    
    #house.small-mode {
        display: none;
    }
    #house {
        opacity: 0;
        display: none;
    }
}
@media (min-width: 401px) and (max-width: 560px) {
    .dashboard{
        width: calc(100% / 2 - 15px);
    }
    nav .logo-name #logoimg {
        display: none;
    }
    
    nav .logo-name #logoimgsmall {
        display: block;
        transform: scale(65%);
    }
    
    #house.small-mode {
        display: none;
    }
    #house {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 400px) {
    nav{
        width: 73px;
    }
    nav.close {
        width: 0px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav .logo-name #logoimg {
        display: none;
    }
    
    nav .logo-name #logoimgsmall {
        display: none;
    }
    
}

@media (max-width: 399px) {
    #house.small-mode {
        display: flex;
    }
    #house {
        display: flex;
    }
    
}


/*--페이징--*/
.returnPaging{display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;    /* 수직 가운데 정렬 */
  height: 10vh;} /* 위아래 높이 조절 */
  
.rentalPaging{display:flex; justify-content:center; align-items:center; height:10vh;}

.listPaging{display:flex; justify-content:center; align-items:center; height:10vh;}

/*다크*/
#page{font-size : 20px; }
#page td{padding : 5px; }
.dark #page a {
      color: #EFF7F6; padding:10px; 
}
.dark #page td.active a {
   display: inline-block;  color: #EFF7F6; border:1px;  border-radius: 7px; padding:10px; background:var(--primary-color);
}
.dark #page a:hover {
    display: inline-block; color: #EFF7F6; border:1px; border-radius: 7px; padding:10px; background:var(--primary-color);
}


/*라이트모드*/
#page{font-size : 20px; }
#page td{padding : 5px; }
#page a{text-decoration: none; color: black; padding: 10px;}
#page a:hover{display: inline-block; color: #EFF7F6; border:1px; border-radius: 7px; padding:10px; background:#003049;}

#page td.active {
    font-weight: bold; 
}

#page td.active a {
    display: inline-block; color: #EFF7F6; border:1px; border-radius: 7px; padding:10px; background:#003049;}


/*--페이징 반응형--*/
@media(max-width: 780px){
	
	
#page{font-size : 17px; }
#page td{padding : 17px; }
}


#notBookList{ color: #003049; padding:10px; }

.dark #notBookList{ color: #EFF7F6; padding:10px; }
