<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fox.booklist.mapper.BooklistMapper">
	
	<!--책 제목으로 리스트 검색 쿼리-->
	<select id = "bookList" resultType = "com.fox.booklist.domain.booklistDTO">
		select YBI.YBI_IDX, YBI.YBI_SUBJECT, YBI.YBI_PUBLI, YBI.YBI_NAME, YBI.YBI_RENTAL, YBI.YBI_INDATE, YBI.YBI_DEL,
		DECODE(MAX(CASE WHEN YRI.YU_USERID = #{yu_userid} AND YRI.YRI_REDATE IS NULL THEN 'RENTED' ELSE NULL END), 'RENTED', '대여중', '대여가능')  as rentalst
		FROM yb_book_info YBI
		LEFT JOIN yb_rental_info YRI ON YBI.ybi_idx = YRI.ybi_idx
		WHERE YBI.YBI_SUBJECT LIKE '%' || #{keyword} || '%'
		GROUP BY
		YBI.YBI_IDX, YBI.YBI_SUBJECT, YBI.YBI_PUBLI, YBI.YBI_NAME, YBI.YBI_RENTAL, YBI.YBI_INDATE, YBI.YBI_DEL
		ORDER BY YBI.YBI_IDX desc
	</select>
	
	
	<!-- 책번호로 책 검색  -->
	<select id = "GetBookId">
		select YBI_IDX,YBI_SUBJECT,YBI_PUBLI,YBI_NAME,YBI_RENTAL,YBI_INDATE
		from yb_book_info
		 WHERE ybi_idx = #{YBI_IDX}
	</select>
	
	
	<!-- 해당하는 idx값의 렌탈 정보 변경 ( n , y)
	<update id="updateRentalStatus">
    UPDATE YB_BOOK_INFO
    SET YBI_RENTAL = #{status}
    WHERE YBI_IDX = #{ybi_idx}
	</update>
	-->
	
	
	<!-- 대여중인 책 리스트 -->
	<select id = "rentalList">
		SELECT YBI.YBI_IDX, YBI.YBI_SUBJECT, YBI.ybi_publi, YBI.YBI_NAME, to_char(YRI.YRI_RTDATE,'YYYY-MM-DD AM HH:MI') YRI_RTDATE, 
		DECODE(to_char(YRI.YRI_REDATE,'YYYY-MM-DD AM HH:MI'),NULL,'대여중',to_char(YRI.YRI_REDATE,'YYYY-MM-DD AM HH:MI')) YRI_REDATE
      FROM YB_BOOK_INFO YBI, YB_RENTAL_INFO YRI
      WHERE YRI.YU_USERID= #{yu_userid} AND YBI.YBI_IDX = YRI.YBI_IDX
       <if test="params.keyword != null and params.keyword != ''">
        AND YBI.YBI_SUBJECT LIKE '%' || #{params.keyword} || '%'
    </if>
      ORDER BY yri_redate desc
    OFFSET #{params.offset} ROWS FETCH NEXT #{params.recordSize} ROWS ONLY
	</select>

	<!-- 대여내역 검색 -->
	<select id = "RentalSearch">
		SELECT
	    YBI.YBI_IDX, 
	    YBI.YBI_SUBJECT, 
	    YBI.YBI_NAME, 
	    YBI.YBI_PUBLI
		FROM YB_BOOK_INFO YBI
		JOIN YB_RENTAL_INFO YRI ON YBI.YBI_IDX = YRI.YBI_IDX
		WHERE YRI.YU_USERID = #{yu_userid}
		AND YBI.YBI_SUBJECT LIKE '%' || #{YBI_subject} '%'
	</select>
	
</mapper>