<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fox.bookuser.mapper.UserMapper">
	
	<!--유저아이디-->
	<select id = "getUser" resultType = "com.fox.bookuser.domain.userDTO">
		select yu_userid,yu_passwd
		from yb_user
		where yu_userid = #{yu_userid}
	</select>

</mapper>